:root{
    --Peach: #ecdad3;
    --Dark-Grey:#424949;
    --Navy-Blue: #273746;
}

body{
    background-color: #e0c2af;
    padding-top: 0px;
    margin:0;
    font-family: monospace;
    text-align: right;
}

.main-header {
    display:flex;
    font-size: large;
    box-sizing: border-box;
    justify-content:right;
    text-align: :right;
    padding: 0;
    color:#FAE5D3
    border: bold;
    z-index:1;
}


.navigation li{
font-size:x-large;
font-weight: 1000;
display:flex;
display: inline-block;
text-align: right;
justify-content: right;
padding-left: 20px;
padding-right: 50px;
@media screen and (max: width 200px;)
}

#nav{
display: inline-block;
}

#nav ul{
list-style: none;
text-align: right;
}

#nav ul li{
display: inline-block;
}

#nav ul li a::after::before {
    transition: all 0.5s;
}

nav ul li a:hover {
    color:#424949;
}

.sidneysphoto {
    display: flex;
    padding: 0%;
    min-width:50px;
    min-height:50px;
    flex-grow: 1;
    flex-shrink:1;
    flex-basis: 50px;
    background-color:#151211
    }

img {
opacity: 0.5;
display:flex;
justify-content: right;
}

img:hover {
opacity: 1.0;
filter:opacity(opacity=40)
}

.aboutMe {
    font-size: medium;

}

.sections {
    font-size: x-large;
    padding-right: 50px;
    overflow: hidden;
    display: inline;
    position: relative;
}

.sections:hover {
    color: #4f3e38;
}

.workItems {
font-size: x-large;
flex-grow: 100%;
background-color:#151211
}

.workItems:hover {
    color: #4f3e38;
}

.content{
    font-size: x-large;
    color: #ecdad3; 
    }

h3{
color: #dfd4cd;
}

#ContactMe {
text-align: end;
font-size: x-large;
} 

ContactMe li{
display: inline;
font-size: x-large;
padding-right: 50px;
} 

.footer {
text-align:right;
padding: 30px;
color: #424949;
font-size: smaller;
}

